:root {
  --gray-light: #f6f6f6;
  --blue-light: #61dafb;
  --blue-dark: #282c34;
  --gray-dark: #e8e8e8;

  --input-bg-color: #fff;
  --error-color: #ff4136;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  height: 100vh;
}

.heading-1{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: var(--blue-dark);
}

ul{
  list-style: none;
}

button{
  background-color: var(--blue-light);
  color: var(--main-text-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.home{
  background-color: var(--gray-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  height: 100vh;
  padding: 20px;
}
.home button{
  margin-top: 20px;
}
.home .btn-start{
  background-color: var(--blue-dark);
  color: #ffffff;
}

.session{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100vw;
  height: 100%;
}
.session .header{
  background-color: var(--gray-light);
  padding: .5rem;
  text-align: left;
  border-bottom: var(--gray-dark) 1px solid;
}
.session .header .heading-1{
  text-align: left;
}
.session .main .input{
  padding: .5rem;
  background-color: var(--gray-light);
  border-top: var(--gray-dark) 1px solid;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: .5rem;
}
.session .main .input button{
  padding: .5rem;
}
.session .main input[type="text"]{
  border: none;
  background-color: var(--input-bg-color);
  padding: .5rem;
  border-radius: 5px;
  width: 100%;
}
.session .main input[type="text"]:focus{
  outline: none;
}
.session .main .input-gm .left{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: .5rem;
}